<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhuchao.freetime" >

    <!-- use permission for internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- access network state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- write data to memory -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- write setting -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- read phone state -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- keep screen alive -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- broadcast the start if system -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomeTheme" >
        <activity
            android:name=".Welcome"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Introduction"
            android:label="@string/title_activity_introduction"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".TopHot_Detail"
            android:label="@string/title_activity_top_hot__detail"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- 不配置将会导致无法调用API -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent222222" />
            </intent-filter>
        </activity>
        <!-- SDK_V2.0引入了AssistActivity，开发者需在androidManifest.xml中注册 -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".PlayMovie"
            android:label="@string/title_activity_play_movie"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Test"
            android:label="@string/title_activity_test"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Set"
            android:label="@string/title_activity_set" >
        </activity>
        <activity
            android:name=".Collection"
            android:label="@string/title_activity_collection" >
        </activity>
        <activity
            android:name=".CommentActivity"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name=".SelfLabel"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name=".TimeMachine"
            android:label="@string/title_activity_time_machine" >
        </activity>

        <receiver android:name="receiver.BootStartReceiver" >
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.media.RINGER_MODE_CHANGED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name="receiver.AlarmStartReceiver" >
            <intent-filter>
                <action android:name="receiver.alarm.action" />
            </intent-filter>
        </receiver>

        <service android:name="service.DownloadService" />
        <service android:name="service.DownloadMovieService" />
        <service
            android:name="service.AutoDownLoadIntentService"
            android:exported="false" >
        </service>
    </application>

</manifest>
